<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="dtd.PHS.YourExchangeRates" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
		<activity android:name=".ListRates" android:label="@string/app_name">
		</activity>

		<activity android:name="FirstScreen">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="CalculateRate"></activity>
		<activity android:name="SendSMS"></activity>
		<activity android:name="About"></activity>
	<activity android:name="ChooseCurrency" android:screenOrientation="portrait"></activity>
<activity android:name="ChoosePrecision"></activity>
<activity android:name="PreviewSMS"></activity>
</application>
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>


	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<supports-screens android:smallScreens="false"
		android:normalScreens="true" android:anyDensity="true"
		android:resizeable="true" android:largeScreens="true"></supports-screens>
</manifest> 